/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  color: #333;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}

.home, .family, .news, .taskpage, .airdrop {
  padding: 2em;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

/* Dynamic height adjustment for Telegram viewport */
:root {
  --vh: 100vh;
}

.full-screen-adjust {
  height: calc(var(--vh, 1vh) * 100); /* Use --vh to fit within the Telegram view */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: #4CAF50;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

/* Media query to further refine for smaller screens */
@media (max-width: 768px) {
  .full-screen-adjust {
      height: calc(var(--vh, 1vh) * 100);
      overflow: hidden;
      /* Ensures --vh is used even on smaller screens */
  }
}
/* Loading.css */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* or any other color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it's on top */
}

.settings-container {
  border: 1px solid red; 
}